body {
	background-color: MediumSeaGreen;
}


h1	{
	text-align: center;
	color: blue;
	border-style: solid;
	border-color: blue;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

p 	{
	background-color: lightblue;
	border-style: solid;
	border-color: lightblue;
	border-radius: 20px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 15px;
}

